<app-header [pageImageCover]="'assets/img/contact-bg.jpg'" [pageTitle]="'Contato'" > </app-header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Olá, me chamo Caio Pereira,  sou desenvolvedor de sistemas e apaixonado pelas mais diversas tecnologias.  Atualmente desenvolvendo projetos em .NET e Angular. 
                </p>  

                <p>
                    Sempre em busca de novos conhecimentos e aprimorando minhas habilidades
                </p>
    
                <p>
                    Visite minhas redes sociais e entre em contato.
                </p>    
            </div>

        </div>

        <div>
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://github.com/Caiopsilvsa" target="blank">
                      <span class="fa-stack fa-lg">
                          <i class="fa-brands fa-github fa-2xl"></i>
                      </span>
                    </a>                      
                  </li>

                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/caiopereira9998/" target="blank">
                      <span class="fa-stack fa-lg">
                          <i class="fa-brands fa-linkedin fa-2xl"></i>
                      </span>
                    </a>                      
                  </li>

                  <li class="list-inline-item">
                    <a href="mailto:caio.psilva@outlook.com?Subject=Contato" target="blank">
                      <span class="fa-stack fa-lg">
                          <i class="fa-solid fa-envelope fa-2xl"></i>
                      </span>
                    </a>                      
                  </li>
            </ul>
        </div>
    </div>
    
</main>


