<app-header [pageImageCover]="'assets/img/home-bg.jpg'" [pageTitle]="'Editar Postagem'"> </app-header>
    <div *ngIf="post">   
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form [formGroup]='postForm' (ngSubmit)="sendForm()" >
                                <div class="form-floating">
                                    <input class="form-control" formControlName="titulo" [(ngModel)]="post.titulo" type="text" placeholder="Titulo"  />
                                    <label for="titulo">Titulo</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" formControlName="subTitulo"  [(ngModel)]="post.subTitulo" type="text" placeholder="SubTitulo"  />
                                    <label for="subTitulo">SubTitulo</label>
                                </div>
                               
                                <div class="form-floating">
                                    <input class="form-control" formControlName="categoria" [(ngModel)]="post.categoria" type="text" placeholder="Categoria"  />
                                    <label for="titulo">Categoria</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" formControlName="conteudo" [(ngModel)]="post.conteudo" id="message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="message">Escreva seu post...</label>
                                </div>
                                <br />
                                <div class="form-group text-center">
                                    <button [disabled]='!postForm.valid' class="btn btn-success mr-2" type="submit">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>      
       
